@tailwind base;
@tailwind components;
@tailwind utilities;

@import './button';
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    font-family: var(--font-poppins);
    font-size: 15px;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));

      &.form-input {
        @apply border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none;
      }
      &.form-button {
        @apply absolute right-0 top-1/2 -translate-y-1/2 bg-[#ecd06f] p-[.5rem] rounded-lg text-[14px] text-white;
      }
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }